In [1]:
import yfinance as yf

data = yf.Ticker("COCHINSHIP.NS")

In [2]:
info = data.info

In [3]:
info.keys()

dict_keys(['address1', 'address2', 'city', 'zip', 'country', 'phone', 'fax', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'compensationAsOfEpochDate', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'heldPercentInsiders', 'heldPercentInstitutions', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'exchange', 'quoteType', 'symbol', 'underlyingSymbol', 'shortName', 'longName', 'firstTradeDateEpochUtc', 'timeZoneFullName', 'timeZoneShortName', 'uuid', 'messageBoardId', 'gmtOffSetMilliseconds', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'trailingPegRatio'])

In [4]:
info['country'],info['sector'],info['website'],

('India', 'Industrials', 'https://cochinshipyard.in')

In [5]:
promoter = info['companyOfficers'][0]

In [6]:
promoter['name'],promoter['title']

('Mr. Madhu Sankunny Nair', 'Chairman & MD')

In [7]:
promoters = data.info['companyOfficers']

In [8]:
promoters

[{'maxAge': 1,
  'name': 'Mr. Madhu Sankunny Nair',
  'age': 57,
  'title': 'Chairman & MD',
  'yearBorn': 1966,
  'fiscalYear': 2024,
  'totalPay': 8998000,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Mr. Valiyaparambil Jacob Jose',
  'age': 56,
  'title': 'CFO, Director of Finance & Director',
  'yearBorn': 1967,
  'fiscalYear': 2024,
  'totalPay': 5909000,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Mr. Sreejith Katayamkot Narayanan',
  'age': 58,
  'title': 'Executive Director & Director of Operations',
  'yearBorn': 1965,
  'fiscalYear': 2024,
  'totalPay': 5887000,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Mr. Bejoy  Bhasker',
  'age': 58,
  'title': 'Technical Director & Director',
  'yearBorn': 1965,
  'fiscalYear': 2024,
  'totalPay': 6427000,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Mr. Eldho  John',
  'title': 'Chief General Manager of Technical',
  'fiscalYear': 2024,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Mr. N.  Syamkamal',
  'age': 36,
  'title': 'Company Secretary & Compliance Officer',
  'yearBorn': 1987,
  'fiscalYear': 2024,
  'totalPay': 8113995,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Mr. A. K. Subash',
  'title': 'General Manager of Human Resource & Training',
  'fiscalYear': 2024,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Ms. Kariyal Rajakumaran Anjana',
  'age': 51,
  'title': 'Chief General Manager (Design)',
  'yearBorn': 1972,
  'fiscalYear': 2024,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Mr. V. P. Shiraz',
  'title': 'Chief GM of Planning, Project Management & Strategy',
  'fiscalYear': 2024,
  'exercisedValue': 0,
  'unexercisedValue': 0},
 {'maxAge': 1,
  'name': 'Mr. Deepu  Surendran',
  'title': 'Chief General Manager (C-SAS)',
  'fiscalYear': 2024,
  'exercisedValue': 0,
  'unexercisedValue': 0}]

In [9]:
data.fast_info

lazy-loading dict with keys = ['currency', 'dayHigh', 'dayLow', 'exchange', 'fiftyDayAverage', 'lastPrice', 'lastVolume', 'marketCap', 'open', 'previousClose', 'quoteType', 'regularMarketPreviousClose', 'shares', 'tenDayAverageVolume', 'threeMonthAverageVolume', 'timezone', 'twoHundredDayAverage', 'yearChange', 'yearHigh', 'yearLow']

In [10]:
data.get_balancesheet()

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
OrdinarySharesNumber,263080780.0,263080780.0,263080780.0,263080780.0,NaN
ShareIssued,263080780.0,263080780.0,263080780.0,263080780.0,NaN
TotalDebt,5021996000.0,5873286000.0,5537855000.0,5396414000.0,NaN
TangibleBookValue,49807808000.0,44019622000.0,43656370000.0,39702743000.0,NaN
InvestedCapital,50263587000.0,45605162000.0,45190016000.0,41564512000.0,NaN
...,...,...,...,...,...
CashCashEquivalentsAndShortTermInvestments,5771208000.0,9520041000.0,17504775000.0,7357089000.0,NaN
OtherShortTermInvestments,2707078000.0,5769820000.0,12469762000.0,70075000.0,NaN
CashAndCashEquivalents,3064130000.0,3750221000.0,5035013000.0,7287014000.0,NaN
CashEquivalents,2968948000.0,3010776000.0,3795242000.0,2417667000.0,NaN
CashFinancial,95182000.0,739445000.0,1239771000.0,4869347000.0,NaN

In [11]:
data.quarterly_balancesheet

,2024-09-30,2024-03-31,2023-09-30,2023-03-31
Ordinary Shares Number,263080780.0,263080780.0,263080780.0,263080780.0
Share Issued,263080780.0,263080780.0,263080780.0,263080780.0
Total Debt,5009974000.0,5021996000.0,5615053000.0,5873286000.0
Tangible Book Value,52587068000.0,49807808000.0,46808525000.0,44019622000.0
Invested Capital,52996092000.0,50263587000.0,48437758000.0,45605162000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,32061161000.0,5771208000.0,37304151000.0,9520041000.0
Other Short Term Investments,29277435000.0,2707078000.0,15800210000.0,5769820000.0
Cash And Cash Equivalents,2783726000.0,3064130000.0,21503941000.0,3750221000.0
Cash Equivalents,NaN,2968948000.0,NaN,3010776000.0
Cash Financial,NaN,95182000.0,NaN,739445000.0

In [12]:
fundamentals = data._fundamentals

fundamentals.financials.get_balance_sheet_time_series()

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
OrdinarySharesNumber,263080780.0,263080780.0,263080780.0,263080780.0,NaN
ShareIssued,263080780.0,263080780.0,263080780.0,263080780.0,NaN
TotalDebt,5021996000.0,5873286000.0,5537855000.0,5396414000.0,NaN
TangibleBookValue,49807808000.0,44019622000.0,43656370000.0,39702743000.0,NaN
InvestedCapital,50263587000.0,45605162000.0,45190016000.0,41564512000.0,NaN
...,...,...,...,...,...
CashCashEquivalentsAndShortTermInvestments,5771208000.0,9520041000.0,17504775000.0,7357089000.0,NaN
OtherShortTermInvestments,2707078000.0,5769820000.0,12469762000.0,70075000.0,NaN
CashAndCashEquivalents,3064130000.0,3750221000.0,5035013000.0,7287014000.0,NaN
CashEquivalents,2968948000.0,3010776000.0,3795242000.0,2417667000.0,NaN
CashFinancial,95182000.0,739445000.0,1239771000.0,4869347000.0,NaN

In [13]:
eps = data.eps_trend

In [14]:
today_eps = eps.iloc[2,:1]

In [15]:
pe_ratio = data.fast_info['previousClose']/today_eps

In [16]:
pe_ratio

current    48.136118
Name: 0y, dtype: float64

In [17]:
market_cap = int(data.info['marketCap']/1000000)

In [18]:
formatted_market_cap = f"{market_cap:,}"
formatted_market_cap

'392,950'

In [19]:
data.info.keys()

dict_keys(['address1', 'address2', 'city', 'zip', 'country', 'phone', 'fax', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'compensationAsOfEpochDate', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'heldPercentInsiders', 'heldPercentInstitutions', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'exchange', 'quoteType', 'symbol', 'underlyingSymbol', 'shortName', 'longName', 'firstTradeDateEpochUtc', 'timeZoneFullName', 'timeZoneShortName', 'uuid', 'messageBoardId', 'gmtOffSetMilliseconds', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'trailingPegRatio'])

In [20]:
def convert_to_indian_format(number):
    if number >= 1e12:
        return f"{number// 1e12} Lakh Crore"
    elif number>=1e11:
        return f"{number// 1e11} Thousand Crore"
    elif number >=1e9:
        return f"{number // 1e9} Crore"
    elif number >=1e7:
        return f"{number // 1e7} Lakh"
    elif number >=1e5:
        return f"{number // 1e5} Thousand"
    else:
        return str(number)

In [21]:
market_cap = data.info['marketCap']
current_price = data.info['currentPrice']
low,high = data.info['fiftyTwoWeekLow'],data.info['fiftyTwoWeekHigh']
eps = data.info['trailingEps']
pe_ratio = data.info['trailingPE']
roe  = f"{data.info['returnOnEquity']*100:.2f}%"
debt_to_equity = data.info['debtToEquity']
book_value = data.info['bookValue']

In [22]:
dividend = f"{data.info['dividendYield']*100:.2f}%"
roa = data.info['returnOnAssets']
currentRatio = data.info['currentRatio']
payoutRatio = data.info['payoutRatio']

In [23]:
data.balancesheet.columns

DatetimeIndex(['2024-03-31', '2023-03-31', '2022-03-31', '2021-03-31',
               '2020-03-31'],
              dtype='datetime64[ns]', freq=None)

In [24]:
data = yf.Ticker("ARE&M.NS")
metadata = data.get_info()

In [25]:
metadata['eq']

KeyError: 'eq'